@font-face {
    font-family: 'Cocon';
    src: url('../fonts/Cocon-Regular-Font.otf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.cocon-titulo {
    font-family: 'Cocon';
    font-size: xx-large;
}

.cocon {
    font-family: 'Cocon';
    font-size: x-large;
}

.raleway-uppercase {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: larger;
    color: black;
}

.raleway-normal {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: large;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    color: black;
}

.raleway-bold {
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    font-weight: 700;
    font-size: large;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    color: black;
}

.raleway-medium {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: medium;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    color: black;
}

.raleway-bold-medium {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: medium;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    color: black;
}

.raleway-small {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    color: #979292dd
}

.nav-text:hover {
    color: black;
}

.portada {
    height: 440px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/portada.jpg);
}

.texto-portada {
    background-color: #F5D6A6;
    background-image: var(--bs-gradient);
    width: 35%;
    height: 50%;
    position: relative;
    left: 10%;
}

.borde {
    border-radius: 15px;
}

/*
.li-hover:hover {
    background-color: #00000005;
}*/

footer a:hover {
    text-decoration: underline;
    color: black;
}

.carousel {
    overflow: visible;
    position: relative;
}

.capa-1 {
    position: absolute;
    width: 100%;
    height: 95px;
    background-color: #ffff;
    z-index: -1;
    top: 261px;
}

.zoom:hover {
    transform: scale(1.1);
}